body {
  background-color: #222222;
  color: red;
  font-family: system-ui, sans-serif;
  font-size: 1.2rem;
}
.padding {
  padding-block: 2rem;
  padding-inline: 1rem;
}

a {
  color: aquamarine;
  font-style: uppercase;
  text-transform: uppercase;
}
.a-active {
  color: bisque;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
nav :first-child {
  margin-right: auto;
}
